<h1 style="color: #5e9ca0;">Welcome to DevOps Rabat Meetup</h1>
<h2 style="color: #2e6c80;">You are attending Test Driven Development with infrastructure Code :)</h2>
<p>Do The Simplest Thing That Could Possibly Work&nbsp;&nbsp;</p>

